# Author: Pankaj L. Ahire (pankaj@apollographql.com)
# Based on the basic GitHub Actions flow with basic flow from Rover CI/CD Public documentation
# Customized for the Federated 2 GraphQL Schema for Point of Sales for a store 

name: Check GraphQL Schema

# Controls when the workflow will run
on: [push, pull_request]


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    environment: apollo
    env:
      APOLLO_KEY: ${{ secrets.APOLLO_KEY }}
      APOLLO_VCS_COMMIT: ${{ github.event.pull_request.head.sha }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Install Rover
        run: |
          curl -sSL https://rover.apollo.dev/nix/v0.1.0 | sh
          echo "$HOME/.rover/bin" >> $GITHUB_PATH

      # Runs a set of commands using the runners shell
      - name: Rover SALES SubGraph Check and Publish
        run: |
          rover subgraph check Point-of-Sale-Fed2@current --name sales --schema ./subgraph1/schema.graphql
          rover subgraph publish Point-of-Sale-Fed2@current --name sales --schema ./subgraph1/schema.graphql --routing-url http://localhost:8085
          
      - name: Rover PRODUCTS Subgraph Check and Publish
        run: |
          rover subgraph check Point-of-Sale-Fed2@current --name products --schema ./subgraph2/schema.graphql
          rover subgraph publish Point-of-Sale-Fed2@current --name products --schema ./subgraph2/schema.graphql --routing-url http://localhost:8086/
          
      - name: Rover STORES Subgraph Check and Publish
        run: |
          rover subgraph check Point-of-Sale-Fed2@current --name stores --schema ./subgraph3/schema.graphql
          rover subgraph publish Point-of-Sale-Fed2@current --name stores --schema ./subgraph3/schema.graphql --routing-url http://localhost:8087/
